RewriteEngine On

RewriteCond %{REQUEST_FILENAME}% !-f
RewriteCond %{REQUEST_FILENAME}% !-d

RewriteBase /

#RewriteRule ^edit\/([0-9]+)\/?$ edit.html?id=$1 [NC,L]

RewriteRule ^add\/?$ add.html [NC,L]
RewriteRule ^edit\/user\/([0-9]+)\/?$ edit.html?id=$1 [NC,L]
RewriteRule ^details\/user\/([0-9]+)\/?$ details.html?id=$1 [NC,L]